	#musiccont {
		display: flex;
		flex-direction: row;
		flex-flow: nowrap;
		align-items: top; /*aligns items on the axis */
		justify-content: center; /*centers the items */
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 50px;
		font-size: 0;
		background-color: transparent;
	}

	.mediabox {

		width: 300px;
		margin-top: 50px;
		padding: 5px 10px 5px 10px;
		margin: 10px;
		font-size: 15px;
		border-radius: 5px;
		
	}

	.mediabox h1 {
		border-bottom: 2px #e81ba3 solid;
	}



	.col-sm-4 video {
		width: 100% !important;
   		height: auto !important;
	}

	.mediabox audio {
		margin top: 50px;
		width: 100% !important;
	}

	.musicborder {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 200px;
		width: 200px;
		margin: 20px;
	}

	.musicborder p {
		text-align: center;
		vertical-align: middle;
		line-height: 200px;
		font-size: 20px;
		color: white;
	}

	#imgcircle1 {
		background: url(images/albumcover1.jpg);
		 -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  filter: grayscale();
		border-radius: 50%;
		height: 100%;
		width: 100%;
	}

	#imgcircle2 {
			background: url(images/albumcover2.jpg);
		 -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  filter: grayscale();
		border-radius: 50%;
		height: 100%;
		width: 100%;
	}

	#imgcircle3 {
		background: url(images/albumcover3.jpg);
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  filter: grayscale();
		border-radius: 50%;
		height: 100%;
		width: 100%;
	}

	.musicbox {
		display: flex;
		justify-content: center;

	}

	.videobox {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	
	audio {
		width: 200px;

	}


@media screen and (max-width: 600px){
	.musicbox {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	iframe {
		width: 100%;
		padding: 0px 5px 0px 5px;
	}