<script type="text/javascript">
	$(window).scroll(function() {
	 	if ($(this).scrollTop()>0) {
	 		$( "#containerfooter" ).css('opacity', '0.2');
	 }
	 	else {
	 		$( "#containerfooter" ).css('opacity', '1');
	 	}
	 	
	});

	$(document).ready(function(){
		$("#containerfooter").mouseover(function() {
			$('#containerfooter').css('opacity', '1');
		})
		$("#containerfooter").mouseleave(function() {
			$('#containerfooter').css('opacity', '0.2');
		})
	});
</script>

<style type="text/css">

	#containerfooter {
		display: -webkit-box;
 		display: -moz-box;
  		display: -ms-flexbox;
  		display: -webkit-flex;
		position: fixed;
		bottom: 0px;
		width: 100%;
		z-index: 100;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: baseline;
		background-color:  #fb027f;
		border-top: dashed 2px white;

	}

	 #containerfooter p {
  	color: black;
  }


	.footerflex {
		padding: 5px;
	
	}

  .socialborderfooter {
  	display: inline-block;
    padding: 5px;
    height: 35px;
    width: 35px;
    margin: 0px 5px 0px 5px;
    

  }

  .socialcirclefooter {
    border-radius: 50%;
    height: 100%;
    width: 100%;
  
  }

 @media screen and (max-width: 600px){

    .socialborderfooter {
  	display: inline-block;
    padding: 0px;
    height: 20px;
    width: 20px;
    margin: 0px 0px 0px 0px;
 	}

 	.footerflex {
		padding: 0px;
	
	}
}

 
</style>

<div id="containerfooter">
	<div class="footerflex">
			<p>Some copyright information</p>
		</div>
	<div class="footerflex">
		<a href="#/social"><p>Sign up to our newsletter</p></a>
	</div>
	<div class="footerflex">
		<a href="#/aboutus"><p>About Us</p></a>
	</div>
	<div class="footerflex">
		
		    <div class="socialborderfooter">
		    <img class="socialcirclefooter" src="images/facebook.png">
		    </div>
		    <div class="socialborderfooter">
		    <img class="socialcirclefooter" src="images/Youtube.png">
		    </div>
		    <div class="socialborderfooter">
		    <img class="socialcirclefooter" src="images/Twitterblue.png">
		    </div>
		
	</div>
</div>
	