<div id="containerfooter">
   <div class="footerflex">
      <p>Some copyright information</p>
   </div>
   <div class="footerflex">
      <a href="#/social">
         <p>Sign up to our newsletter</p>
      </a>
   </div>
   <div class="footerflex">
      <a href="#/aboutus">
         <p>About Us</p>
      </a>
   </div>
   <div class="footerflex">
      <div class="socialborderfooter">
         <img class="socialcirclefooter" src="images/facebook.png">
      </div>
      <div class="socialborderfooter">
         <img class="socialcirclefooter" src="images/Youtube.png">
      </div>
      <div class="socialborderfooter">
         <img class="socialcirclefooter" src="images/Twitterblue.png">
      </div>
   </div>
</div>
	