<div id="containerfooter">
   <div class="footerflex">
      <p>Some copyright information</p>
   </div>
   <div class="footerflex">
      <a href="#/social">
         <p>Sign up to our newsletter</p>
      </a>
   </div>
   <div class="footerflex">
      <a href="#/aboutus">
         <p>About Us</p>
      </a>
   </div>
   <div class="footerflex">
      <div class="socialborderfooter">
         <a href="https://www.facebook.com"><img class="socialcircle" src="images/facebook.png"></a>
      </div>
      <div class="socialborderfooter">
         <a href="https://www.youtube.com"><img class="socialcircle" src="images/Youtube.png"></a>
      </div>
      <div class="socialborderfooter">
         <a href="https://www.twitter.com"><img class="socialcircle" src="images/Twitterblue.png">
      </div>
   </div>
</div>
	