<div class="containernav"><h1> <a href='index.html'>The Hooties</a></h1>
		<ul id="navbar">
			<li><a href='index.html'>Home</a></li>
			<li><a href='music.html'>Music</a></li>
			<li><a href='bookings.html'>Bookings</a></li>
			<li><a id='socialtag' href='social.html'>Social</a></li>
		</ul>
</div>
<nav class='socialbox'>
	<script type="text/javascript"> //inline javascript for hiding objects straight away
        $(".socialbox").hide();
 	</script>
	<ul>
		<li>Facebook</li>
		<li>Twitter</li>
		<li>Instagram</li>
	</ul>
</nav>


