<div class="containernav"><h1> <a href='#/'>The Hooties</a></h1>
	<div class="navbar">
		<div class="navorder">
				<ul>
				<li><a href='#/'><span class="glyphicon glyphicon-home"></span></a></li>
				<li><a href='#/music'><span class="glyphicon glyphicon-music"></span></a></li>
				<li><a href='#/video'><span class="glyphicon glyphicon-facetime-video"></span></a></li>
				<li><a href='#/bookings'><span class="glyphicon glyphicon-calendar"></span></a></li>
				</ul>
		</div>
	</div>			
</div>



