<script type="text/javascript">
	
function searchsong() {
	
var songsearch = document.getElementById("search").value;
var songs = ["Babel", "I will wait", "Insomnia", "Little River", "Somebody told me"]

var result = songs.indexOf(songsearch)

	if (result == -1) {
		window.alert("Sorry we couldn't find " + songsearch + " please try again");
	}
	else {
		$("#musicFound").modal();
	}
};

$(document).ready(function(){
	$('#ClickClose').click(function() {
		$('#musicFound').modal('hide')
	})	
});


</script>

<div class="containernav"><h1> <a href='#/'>The Hooties</a></h1>
	<div class="navbar">
		<div class="navorder">
				<ul>
				<li><a href='#/'><span class="glyphicon glyphicon-home"></span></a></li>
				<li><a href='#/music'><span class="glyphicon glyphicon-music"></span></a></li>
				<li><a href='#/bookings'><span class="glyphicon glyphicon-calendar"></span></a></li>
				</ul>
		</div>
	</div>			
</div>
	<div class="searchbox">
				 <div class="input-group">
		      		<input type="text" class="form-control" id="search" onchange="searchsong()" placeholder="Search for songs to purchase...">
		      		<span class="input-group-btn">
		        	<button class="btn btn-default" type="button" onclick="searchsong()">Go!</button>
		      		</span>
    			</div>
	</div>	



<div class="modal fade" tabindex="-1" role="dialog" id="musicFound">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  
        <h4 class="modal-title">Song found!</h4>
      </div>
      <div class="modal-body">
        <p>Click proceed to external site</p>
      </div>
      <div class="modal-footer">
        <a href="https://play.google.com/music/listen?authuser#/now" target="_blank"><button type="button" class="btn btn-default" id="ClickClose">Click</button></a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



