<script type="text/javascript">

	function availablity() {
		
	var firstName = document.getElementById("fname").value
	var lastName = document.getElementById("lname").value
	var Email = document.getElementById("email").value
	var iDate = document.getElementById("date").value

	var bookings = ["2016-12-29"];

	bookings.push(firstName, lastName, Email);

	var result = bookings.indexOf(iDate)
		if (result != -1) {
			window.alert("Sorry " + iDate + " is already taken, please try another date");
		}
		
	bookings.push(iDate)
	console.log(bookings)
	};

</script>

<style type="text/css">
	.mailbox {
    display: block;
    margin-left: auto;
    margin-right: auto;
		width:600px;
		padding: 20px;
    margin-bottom: 0px; 
    	}

@media screen and (max-width: 600px){
  .mailbox {
    width: 90%
  }

</style>




<div class="mailbox">
	<h2>Availability</h2>
	<p>If you like what you see check out our availablity and fill in the form and we'll be in touch as soon as we can!</p>
	<form>
  <div class="form-group">
    <label for="name">First Name:</label>
    <input type="text" class="form-control" id="fname" name="fname" placeholder="Fist Name" ng-model="fname">
  </div>
   <div class="form-group">
    <label for="name">Last Name:</label>
    <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name">
  </div>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="name">Date</label>
    <input type="date" class="form-control" id="date" name="date" placeholder="Date" onchange="availablity()">
  </div>
  <button type="submit" class="btn btn-default" id="submit" data-toggle="modal" data-target="#BookingConfirm">Submit</button>
</form>
</div>
</div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="BookingConfirm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Thanks for your booking <span>{{fname}}</span></h4>
      </div>
      <div class="modal-body">
        <p>You'll recieve an email shortly with confirmation of your booking xx</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->