<div class="container">
<h2>Music</h2>
	<div class="row musicbox">
		<div class="musicborder">
		<div id="imgcircle1">
		<p>Babel</p>
		</div>
		<audio controls="controls">
			<source src="assets/audio/Babel.mp3">
		</audio>
		</div>
		<div class="musicborder">
		<div id="imgcircle2">
		<p>I will wait</p>
		</div>
		<audio controls="controls">
			<source src="assets/audio/IWillWait.mp3">
		</audio>
		</div>
		<div class="musicborder">
		<div id="imgcircle3">
		<p>Lover of the light</p>
		</div>
		<audio controls="controls">
			<source src="assets/audio/LoverOfTheLight.mp3">
		</audio>
		</div>
	</div>
	
	<h2>Videos</h2>
	<div class="row videobox">
	<h3>Babel</h3>
		<iframe width="700" height="350" src="https://www.youtube.com/embed/iWza_On7ajs" frameborder="0" allowfullscreen></iframe>
	<h3>I will wait</h3>
		<iframe width="700" height="350" src="https://www.youtube.com/embed/rGKfrgqWcv0" frameborder="0" allowfullscreen></iframe>
	</div>
</div>


